{% extends "AppBundle::layout.html.twig" %}

{% block content -%}
    <div>
       Salut Brigitte, tu es sur l'admin de Sophitech qui a été réalisé par deux putains de génies. <br />
       Si t'arrives pas à l'utiliser, c'est que t'es une putain de cassos ma grande!!! <br />
       Donc si t'as des questions, ferme la et utilise ce qui te sert de cerveau.<br />
       Au boulot!!!
       <br /><br /><br /><br />
       Mais meuf tu taf des fois?<br /><br />
       Et ta copine elle bosse pas non plus?<br /><br />
    </div>
{% endblock %} 
