{% extends "AppBundle::layout.html.twig" %}

{% block title 'Event' %}


{% block column_left %}
    
    <li>
        <a class='{%block column_list%}active{%endblock%}' href="{{ path('event') }}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
        </a>
    </li>
    <li>
        <a class='{%block column_add%}{%endblock%}' href="{{ path('event_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </a>
    </li>

{% endblock %}