/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2015, 4:31:09 PM
    Author     : dev
*/

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar ul {
      float: none;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .navbar {
      margin-bottom: 20px;
    }
    .navbar-brand {
      width: 125px;
    }
    .nav-stacked .active{
        background-color: #EEE;
    }
    .line-bottom{
        font-size : 125%;
    }
    .menu-vertical{
        margin-top: 42px;
    }
    select{
        width:179px;
    }
    .signin{
        text-align: right;
    }
    .navbar .divider-vertical {
      height: 50px;
      margin: 0 9px;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #f2f2f2;
      }

    .navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
    }
    
    .form-group-sm{
       margin-bottom: 0px;
    }
    
    .form-group-sm .control-label label{
       font-weight: 100;
       margin-bottom: -3px;
    }
    
    .form-group-sm input{
       margin-top: -5px;
    }
      
    .address{
        margin-left: -12px;
    }
    .address2{
        margin-left: 65px;
    }
    .button-event{
        margin-left: 108px;
    }
    .div-button{
        margin-top:20px;
    }

    @media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
      }  
    }
    form {display: inline}
}
.panel-default .panel-heading {
    background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
}
.panel-default .panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}