{% extends "AppBundle::layout.html.twig" %}

{% block title 'Teacher' %}

{% block sub_content_header_more %}  
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/student">Student</a></li>
        <li role="presentation" class="active"><a href="/teacher">Teacher</a></li>
        <li role="presentation"><a href="/client">Client</a></li>
    </ul>
{% endblock %} 
    
{% block column_left %}
    
    <li>
        <a class='{%block column_list%}active{%endblock%}' href="{{ path('teacher') }}">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
        </a>
    </li>
    <li>
        <a class='{%block column_add%}{%endblock%}' href="{{ path('teacher_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </a>
    </li>

{% endblock %}

{%block selected_page_student %}active{%endblock%}
{%block selected_page_category %}{%endblock%}
{%block selected_page_event %}{%endblock%}